name: Accessibility

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  # schedule:
  #     - cron: '*/15 * * * *'

jobs:
  pa11y:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Install Dependencies
      run: npm ci
    - name: Start Server
      run: npm run start
    - name: Run Pa11y Accessibility Tests
      env:
        URL: ${{ vars.URL }}
      run: npm run pa11y 2>&1 | tee pa11y_output.txt
    - name: Read Pa11y Accessibility Test Report
      id: pa11y_output
      uses: juliangruber/read-file-action@v1
      with:
        path: ./pa11y_output.txt
